:root{
    --white: #e1e3e8c9;
    --color-catalogMain: #f9ffcf;
    --color-yellow1: #FADF63;
    --color-green1: #394f49;
    --color-red1: #632b30;
    --inputwidth: 50%;
    --fieldsWidth: 100%;
    --roundMain: 0.5em;
    --roundSub: 0.3em;
    --mainFont: "Sniglet";
}
html {
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-image: url("../assets/bss-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-color: var(--white);
    font-family: "Sniglet";
}
/*########################################## HEADER #################################################*/
body header{
    display: flex;
    height: 20%;
    z-index: 10;
    padding: 0 1%;
    background-color: var(--color-yellow1);
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    overflow: hidden;

}
.headerImg{
    width: 9%;
    height: auto;
    float: left;
    margin-right: 2%;
}
.headerList{
    display: flex;
    margin: 0 10%;
    justify-content: flex-start;
    gap: 1%;
}
.headerGroup{
    align-content: center;
    justify-content: center;
    padding-left: 5%;
}
.headerTitle{
    padding-top: 1.75%;
    align-items: center;
    justify-items: center;
    white-space: nowrap;
}
.headerForm, .headerList{
    padding: 0 10%;
    font-size: 1.5vw;
}
.headerForm,.homeHeader,.shopHeader,.contactsHeader{
    list-style-type: none;
    text-decoration: none;
    display: block;
    line-height: 1.5;
    transition: font-weight 0.2s ease;
}
.headerForm,.homeHeader,.shopHeader,.contactsHeader, a:visited{
    color: black;
}
header a{
    display: block;
    padding: 10% 20%;
}
.homeHeader:hover, .shopHeader:hover, .contactsHeader:hover{
    background-color: white;
    font-weight: bold;
    line-height: 1.5;
    transition: font-weight 0.2s ease;
}
.headerForm:hover{
    font-weight: bold;
}

/*########################################## FOOTER #################################################*/
footer{
    background-color: #FADF63;
    height: 5%;
    padding-bottom: 1%;
    text-align: center;

    z-index: 10;

    font-family: var(--fontfamily);
    font-size: 0.75rem;
    color: black;
}
.contacts{
    display: inline-block;
    height: 26px;
    margin: auto;
}
.contacts:hover{
    transform: scale(1.1);
}
.footerMessage{
    margin: 1% 0;
}

/*######################### MAIN #############################*/
body main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 3% 5%;

    flex: 1;

    width: 100%;
}
/*######################### contentHeader #############################*/
.contentHeader {
    display: flex;
    width: 90%; 
    max-width: 90%;
    margin: 2% auto; 
    background-color: var(--color-catalogMain);
    background-image: url("/full-binder/assets/bss-header.jpeg");
    background-position: center;
    background-size: cover;
    padding: 2%;
    border-radius: var(--roundMain); 

    justify-content: center;
    align-items: center;

}

.contentHeaderTitle{
    font-size: 10vw;
    font-weight: bold;
    color: var(--color-catalogMain);
    text-shadow: 
    -2px -2px 0 black,  
    2px -2px 0 black,  
    -2px  2px 0 black,  
    2px  2px 0 black; /* Creates a black outline */
}

/*######################### catalogMain #############################*/
.catalogMain{
    display: flex;
    flex-direction: column;

    padding: 3%;

    /*shape containing main content for catalog like items*/
    background-color: var(--color-catalogMain);
    border-radius: var(--roundMain);

    aspect-ratio: 1/1;
    width: 90%;
}
.catalogTop{
    display: flex;
    align-items: center;
    justify-content: center;
}
.groupTitle{
    padding: 0% 0 0% 2%;

    font-size: 10vh;
    font-family: var(--mainFont);
    font-weight: bold;
}
#albumVersion{
    margin: 1% 2%;
    font-size: 2vw;
    font-family: var(--mainFont);

}

.tabs {
    display: flex;
    cursor: pointer;
    
    height: 5%;   
  }
  .tabs button{
    font-family: var(--mainFont);
    font-size: 1.2vw; 
  }
  
  .tabcontentMain{
    font-family: var(--mainFont);
    font-size: 1.2vw;
    height: 40%;
    margin-bottom: 3%;
  }
  .tabs button {
    flex: 1;
    padding: 1%;
    background-color: #f1f1f1;
    border: 0px solid #ccc;
    border-bottom: none;
    outline: none;
    text-align: center;
    border-radius: var(--roundSub);
  }
  .tabs button.active {
    background-color: #fff;
    border-top: 0.20em solid var(--color-green1);
  }
  .tab-content-std,.tab-content-wev {
    display: none;

    border-top: 0.20em solid var(--color-green1);
    background-color: #fff;
    height: 100%;
    border-radius: var(--roundSub);
    overflow: hidden;
    
  }
  .tab-content-std.active,.tab-content-wev.active {
    display: block;
  }
/*######################### each TABS #############################*/
.tab1,.tab2,.tab3{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    
    overflow-x: auto;
    white-space: nowrap;
    gap: 1%;

    padding: 3% 5%;
    min-height: 80vh;
    flex: 1;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;  
}
.gaVer,.naVer{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    
    width: 35%;

    border-radius: var(--roundSub);

    scroll-snap-align: center;
}
.items{
    display: flex;
    justify-content: flex-start; 
    gap: 2%;
}
.pc{
    flex-shrink: 0; /* Prevents the items from shrinking */
    width: 45%; /* Controls the width of each item */
    text-align: center;
    border-radius: var(--roundSub);
    padding: 1%;
}
.pc img {
    width: 100%;
    height: 70%;
    border-radius: var(--roundSub);
    margin-bottom: 5%;
}
.versionName{
    font-size: 1.75vw;
    margin-bottom: 1%;
}
.price{
    margin-bottom: 5%;
}
.quantity-selector{
    display: flex;
    justify-content: center;
    align-items: center;
}
#quantity{
    width: 35%;
    height: 2em;
    padding: 5%;

    font-size: 1.2vw;
}
.cart-btn{
    margin-left: 5%;
    width: 21%;
    padding: 1%;

    background-color: var(--color-yellow1);
}
.lower-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
.submit-btn{    
    width: 10em;
    height: 3em;
    font-size: 1.2vw;
    color: black;
    font-family: var(--mainFont);

    border: 0px none white;
    background-color: var(--color-yellow1);

    cursor: pointer; 
    transition: all 0.2s ease;
    text-decoration: none;

}
.submit-btn:hover,.cart-btn:hover {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px); 
}

.submit-btn:active,.cart-btn:active {
    background-color: #f5f5f5; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    transform: translateY(2px); 
}
